<ion-content>
  <div class="alllogin">
   <div class="iconlogo">
      <img src="../../assets/icon/logo.png" alt="">
   </div>
    <div class="loginmethode">
         <div class="welcom">Welcom to Vapp</div>
         <div class="log">Login with</div>
         <button (click)="LoginWithGoogle()" class="uk-button uk-button-default uk-button-large bordr cl"><img src="../../assets/icon/Google.png" alt=""> With Google</button>
         <button routerLink="/loginpage" class="uk-button uk-button-primary uk-button-large bordr cle"><img src="../../assets/icon/envelope-closed-64.png" alt=""> With Email</button>
    </div>
  </div>
</ion-content>
