<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-toolbar  color="primary">
    <ion-searchbar id="search"  show-clear-button="focus" color="light" placeholder="Search..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label></ion-label>
    <ion-icon name="list-outline" slot="end"></ion-icon>
    <ion-icon name="apps-outline"></ion-icon>
  </ion-item>
  <div class="allpro">

    <div class="card">
      <div class="cimg"><img src="https://mobile.free.fr/webpublic/Apple_i_Phone_Pro_Violet_DUO_5b9b09900f.png" alt=""></div>
      <div class="priced">
        <div class="price">100 dh</div>
        <div class="bar"></div>
        <div class="pers">50%</div>
      </div>
      <div class="titlec">iphone 14 pro max </div>
      <ion-button shape="round">
        Bay
        <ion-icon slot="end"  name="cart-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="card">
      <div class="cimg"><img src="https://mobile.free.fr/webpublic/Apple_i_Phone_Pro_Violet_DUO_5b9b09900f.png" alt=""></div>
      <div class="priced">
        <div class="price">100 dh</div>
        <div class="bar"></div>
        <div class="pers">50%</div>
      </div>
      <div class="titlec">iphone 14 pro max </div>
      <ion-button shape="round">
        Bay
        <ion-icon slot="end"  name="cart-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="card">
      <div class="cimg"><img src="https://mobile.free.fr/webpublic/Apple_i_Phone_Pro_Violet_DUO_5b9b09900f.png" alt=""></div>
      <div class="priced">
        <div class="price">100 dh</div>
        <div class="bar"></div>
        <div class="pers">50%</div>
      </div>
      <div class="titlec">iphone 14 pro max </div>
      <ion-button shape="round">
        Bay
        <ion-icon slot="end"  name="cart-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="card">
      <div class="cimg"><img src="https://mobile.free.fr/webpublic/Apple_i_Phone_Pro_Violet_DUO_5b9b09900f.png" alt=""></div>
      <div class="priced">
        <div class="price">100 dh</div>
        <div class="bar"></div>
        <div class="pers">50%</div>
      </div>
      <div class="titlec">iphone 14 pro max </div>
      <ion-button shape="round">
        Bay
        <ion-icon slot="end"  name="cart-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="card">
      <div class="cimg"><img src="https://mobile.free.fr/webpublic/Apple_i_Phone_Pro_Violet_DUO_5b9b09900f.png" alt=""></div>
      <div class="priced">
        <div class="price">100 dh</div>
        <div class="bar"></div>
        <div class="pers">50%</div>
      </div>
      <div class="titlec">iphone 14 pro max </div>
      <ion-button shape="round">
        Bay
        <ion-icon slot="end"  name="cart-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="card">
      <div class="cimg"><img src="https://mobile.free.fr/webpublic/Apple_i_Phone_Pro_Violet_DUO_5b9b09900f.png" alt=""></div>
      <div class="priced">
        <div class="price">100 dh</div>
        <div class="bar"></div>
        <div class="pers">50%</div>
      </div>
      <div class="titlec">iphone 14 pro max </div>
      <ion-button shape="round">
        Bay
        <ion-icon slot="end"  name="cart-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="card">
      <div class="cimg"><img src="https://mobile.free.fr/webpublic/Apple_i_Phone_Pro_Violet_DUO_5b9b09900f.png" alt=""></div>
      <div class="priced">
        <div class="price">100 dh</div>
        <div class="bar"></div>
        <div class="pers">50%</div>
      </div>
      <div class="titlec">iphone 14 pro max </div>
      <ion-button shape="round">
        Bay
        <ion-icon slot="end"  name="cart-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="card">
      <div class="cimg"><img src="https://mobile.free.fr/webpublic/Apple_i_Phone_Pro_Violet_DUO_5b9b09900f.png" alt=""></div>
      <div class="priced">
        <div class="price">100 dh</div>
        <div class="bar"></div>
        <div class="pers">50%</div>
      </div>
      <div class="titlec">iphone 14 pro max </div>
      <ion-button shape="round" color="danger">
        Bay
        <ion-icon slot="end"  name="cart-outline"></ion-icon>
      </ion-button>
    </div>

  </div>




</ion-content>
