.name{
  font-size: 18px;
  font-weight: bold;
}
.price{
  font-size: 20px;
  color: rgb(210, 38, 38);
  font-weight: bold;
}
.title{
  font-size: 15px;
}
.tall{
  width: 100%;
}
img{
  width: 200px;
  margin-left: 80px;
}

.aa{
  background-color: rgba(118, 118, 118, 0.45);
  border-radius: 50%;
}
